/* Reset e configurações padrões */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background: white;
}

body, input, button, textarea{
    font: 400 16px 'Roboto', sans-serif;
}