#page-room{

    main{





        .question-list{
            margin-top: 32px;
        }
    }
}

@media screen and (max-width: 900px){
    #roomMain{
        padding: 0 40px;
    }
    RoomTitle span{
        text-align: center;
    }
}

@media screen and (max-width: 630px){
    .content{
        text-align: center;
        flex-direction: column;

        > img{
            padding: 0 45px;
            margin-left: 8px;
            margin-bottom: 3px;
        }
    }
    
    .content2{
        padding-top: 20px;
    }
}